@namespace epub 'http://www.idpf.org/2007/ops';

/* p {

  text-indent:2em;

} */

li {
  margin: 0.25em;
}
ol {
  margin: 0.25em;
  text-indent: 0;
  list-style-position: outside;
}
ul {
  margin: 0.25em;
  text-indent: 0;
  list-style-position: outside;
}
ul.none {
  list-style-type: none;
}

a:link ,a:visited {
    color: blue;
    text-decoration: none;
}

a[epub|type~='noteref'] {
 vertical-align: super;
 line-height: normal;
 font-size: smaller;
}



img { 
  width: 100% !important; 
  height: auto !important;
}



#cover {
  text-align: center;
  color: grey;
}

.center {
  text-align: center;
}
.center-slim {
  font-size: 0.9em;
  margin-left: 2em;
  margin-right: 2em;
}
ol.roman {
  list-style-type: upper-roman;
}
ol.none {
  list-style-type: none;
}
