@namespace epub 'http://www.idpf.org/2007/ops';

p {

  /* text-indent:2em; */
  line-height: 1.6;

} 

li {
  margin: 0.25em;
}
ol {
  margin: 0.25em;
  text-indent: 0;
  list-style-position: outside;
}
ul {
  margin: 0.25em;
  text-indent: 0;
  list-style-position: outside;
}
ul.none {
  list-style-type: none;
}

a:link ,a:visited {
    color: blue;
    text-decoration: none;
}

a[epub|type~='noteref'] {
 vertical-align: super;
 line-height: normal;
 font-size: smaller;
}



img { 
  width: 100% !important; 
  height: auto !important;
}



#cover {
  text-align: center;
  color: grey;
}

.center {
  text-align: center;
}
.col-center-left {
  margin-left: 30%;
  text-align: left;
}

.center-slim {
  font-size: 0.9em;
  margin-left: 2em;
  margin-right: 2em;
}
ol.roman {
  list-style-type: upper-roman;
}
ol.none {
  list-style-type: none;
}

div.doppiacolonna
    {
    width:100%;
}
div.destra {
    width: 45%;
    float: right;
    text-indent: 1.5em;
    font-size: 0.85em;
    text-align: justify;
}
div.sinistra {
    width: 45%;
    float: left;
    font-size: 0.85em;
    text-indent: 1.5em;
    text-align: justify;
}
table {
  border-width: 0;
  border-style: none;
}